html{
    background: #add8e6
}

body{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #F5F5DC;
}

h1{
    font-size: 3em;
    margin: 0;
}

p{
    line-height: 1.4em;

}
#blog{
    border-top: 1px dotted #ccc;
}

.blog-post{
    border-bottom: 1px dotted #ccc;
}
