html{
    background: #add8e6;
    margin-left: 160px;
    padding: 0px 10px;
}

body{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #F5F5DC;
}

h1{
    font-size: 3em;
    margin: 0;
}

h2{
    font-size: 3em;
    margin: 0;
}

table{
    font-size: 3em;
    margin: .5;
}

p{
    line-height: 1.4em;

}
#blog{
    border-top: 1px dotted #ccc;
}

.blog-post{
    border-bottom: 1px dotted #ccc;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
